@import "tailwindcss";

.water-bubble {
  position: absolute;
  width: 160px;
  height: 160px;

  border-radius: 55% 45% 60% 40% / 60% 50% 55% 45%;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.35) 25%,
    rgba(255, 255, 255, 0.12) 55%,
    rgba(255, 255, 255, 0.05) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow:
    inset 0 0 40px rgba(255, 255, 255, 0.5),
    inset 0 0 60px rgba(255, 255, 255, 0.35),
    0 8px 25px rgba(0, 0, 0, 0.08);

  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);

  animation: bubbleFlow 6s ease-in-out infinite;
}

@keyframes bubbleFlow {
  0% {
    transform: scale(1);
    border-radius: 58% 42% 62% 38% / 64% 48% 56% 44%;
  }
  50% {
    transform: scale(1.12);
    border-radius: 42% 58% 38% 62% / 48% 64% 44% 56%;
  }
  100% {
    transform: scale(1);
    border-radius: 58% 42% 62% 38% / 64% 48% 56% 44%;
  }
}

.grid-bg {
  position: absolute;
  inset: 0;

  background:
    linear-gradient(
      to right,
      rgba(128, 128, 128, 0.08) 1px, /* lebih transparan */
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      rgba(128, 128, 128, 0.08) 1px,
      transparent 1px
    );
  background-size: 2.5rem 2.5rem;

  /* fade smooth ke semua sisi */
  -webkit-mask-image:
    radial-gradient(circle at center, black 60%, transparent 100%),
    linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%),
    linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
  -webkit-mask-composite: intersect;

  mask-image:
    radial-gradient(circle at center, black 60%, transparent 100%),
    linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%),
    linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
  mask-composite: intersect;
}



